<?xml version="1.0" encoding="UTF-8"?>
<?xml-model 
    href="https://www.dita-ot.org/rng/plugin.rnc"
    type="application/relax-ng-compact-syntax" 
?>

<plugin id="com.grovf.dox2dita" version="0.0.3" >
    <metadata type="author"    value="Valerii Dzhafarov"/>
    <feature extension="org.dita.xhtml.xsl" file="xsl/doxygen2dita.xsl"/>
    <require plugin="org.dita.base"/>
</plugin>